body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility
  /* to prevent horizontal scroll in mozilla, and chrome */
}

body h2 {
  margin-top: 100px;
  font-weight: 900;
  margin-bottom: 10px;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 96;
}
