.intro {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  background-image: url("../../assets/videos/Snapshots/typing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

.text {
  position: absolute;
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;

  h1 {
    font-weight: 900;
    font-size: 6em;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px 3px #000;
  }

  .img {
    background-image: url("../../assets/images/scroll-icon.png");
    background-position: center center;
    background-size: contain;
    max-width: 30px;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    margin-top: 80px;
    -webkit-animation: down 0.8s infinite linear;
    animation: down 0.8s infinite linear;

    &:hover {
      -webkit-animation: none;
      animation: none;
      cursor: pointer;
    }
  }
}

@-webkit-keyframes down {
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes down {
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
